body {
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: "Roboto";
  font-size: 22px;
}

nav {
  position: fixed;
  background-color: rgb(255, 255, 255);
  top: 0;
  width: 100%;
  padding: 20px;
  z-index: 1;
  display: flex;
  justify-content: center;
  gap: 20px;
  color:rgb(0, 0, 0);
}

nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}


.mainLayout {
  z-index: 0;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr;
}

.beginSection {
  height: 80vh;
  background-color: magenta;
}

.beginSection:hover {
  animation-name: animation;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@keyframes animation {
  0% {
    background-color: magenta;
  }
  50.0% {
    background-color: aqua;
  }
  100.0% {
    background-color: magenta;
  }
}

.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boxes {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
}

.singleBoxContainer {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  text-align: center;
}

.firstBox {
  width: 100%;
  height: 30%;
  background: yellow;
}

.secondBox {
  width: 100%;
  height: 30%;
  background: blue;
}

.firstBox:hover {
  animation: horizontal-shake 0.5s;
  animation-iteration-count: infinite;
}

.secondBox:hover {
  animation: vertical-shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes vertical-shake {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes horizontal-shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.boxTransition {
  width: 50%;
  height: 30%;
  background: red;
}

.boxTransition:hover {
  transition: all;
  transition-duration: 10s;
  width: 100%;
}

.boxAction {
  cursor: pointer;
  width: 50%;
  height: 30%;
  background: lime;
  position: relative;
}

@keyframes moveAndChangeColor {
  0% {
    left: 0%;
    top: 0%;
    background-color: blue;
  }
  25% {
    left: 100%;
    top: 0%;
    background-color: red;
  }
  50% {
    left: 50%;
    top: 50%;
    background-color: green;
  }
  75% {
    left: 0;
    top: 100%;
    background-color: yellow;
  }
  100% {
    left: 0;
    top: 0;
    background-color: blue;
  }
}

.contactContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.contactContainer form {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

@media only screen and (max-width: 400px) {
  .contactContainer {
    flex-direction: column;
  }
}

.footer {
  background-color: #313130;
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 100%;
  justify-content: center;
  color: white;
}
